{% extends "base.html" %}

{% block content %}
<h1>Title: {{ newspaper.title }}</h1>
    <p><strong>Topics: </strong>{{ newspaper.topics }} </p>
    <p><strong>Published Date </strong>{{ newspaper.published_date}} </p>
    <div class="ml-3">
    <h3>Redactors: </h3>
    {% for redactor in newspaper.publishers.all %}
    <p class="text-muted">{{ redactor.id }}</p>
        <p>{{ redactor.first_name}} {{ redactor.last_name}}</p>
    <p>{% if redactor.years_of_experience %}
        Years of experience: {{ redactor.years_of_experience }} 
        {% endif %}
    </p>
        {% empty %}
        <p>No Redactors</p>
    {% endfor %}
    </div>
{% endblock %}